/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }


}


h1, p {
  margin: 8px 0;
}


.flex-compat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-container {
  height: 60vw;
  background-image: url('imgpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.centered-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7); /* Optional: Add a semi-transparent background for better readability */
  font-size: 30px;
  font-weight: 900;
  width: 547px;
  border-radius: 25px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  z-index: 20;
}


#victoria-andrew {
  text-align: center;
}

@media (max-width: 1350px) {
  .image-container {
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .centered-text {
    font-size: 18px;
    width: 320px;
    padding-left: 10px;
  }


}


.title-image {
  background-image: url("public/imgimg/fistpump.jpeg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  height: 500px;
}

.video-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#proposal-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}

.knee-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

#behind-video-spacer {
  height: 600px;
}


@media (min-width: 768px) {
  .knee-image {
    height: 70vw;
    max-height: 850px;
  }

  #behind-video-spacer {
    height: 70vw;
    max-height: 850px;
  }

  #proposal-video {
    height: 70vw;
    max-height: 850px;
  }
}


.body-flex {
  background-color: #23282f;
  color: #eee;
}


.rsvp-wrapper {
  background: linear-gradient(90deg, #3498db, #e09de6);
}


.thank-you-message {
  color: #eee;
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
  padding-top: 36px;
  margin: 0;
}

#change-name {
  color: #eee;
  font-size: 18px;
  opacity: 0.7;
  cursor: pointer;
  text-transform: capitalize;
}

#change-name:hover {
  opacity: 1;
}


.friend-image-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 24px;
  max-width: 1000px;
}

#friend-image {
  height: 200px;
  width: 200px;
  align-self: center;
  border-radius: 40px;
  object-fit: cover;
  border: 8px solid #eee;
  margin-left: 12px;
}

.thank-you-story {
  color: #eee;
  flex: 1;
  padding: 0 24px;
  /*margin: 20px 20%;*/
  font-size: 20px;
}


@media (max-width: 600px) {
  .friend-image-wrapper {
    flex-direction: column;
  }
}


.body-flex, .date-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px 0 20px;
  /*background-color: #fcf1d4;*/
}


.date-wrapper {
  margin: 24px 26px;
  border-radius: 25px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 0;
  text-align: center;
  z-index: 10;
  transition: all 0.2s ease-out;
  flex: 1;
  max-width: 370px;
  cursor: pointer;
}


.party-type-name {
  margin: 8px 0 0 0;
}

.party-date {
  margin: 6px 0 4px 0;
}

.address {
  margin: 2px 0;
}

.party-type-icon {
  width: 224px;
  margin: 0 4vw;
  transition: all 0.2s ease-out;
}

.body-wrapper {
  max-width: 600px;
}

@media (max-width: 1000px) {
  .party-type-icon {
    width: 180px !important;
    margin: 0 3vw;
  }
}


.rsvp-button {
  width: 175px;
  height: 58px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 34px;
  transition: all 0.2s ease-out;
}


#rsvp-link {
  color: #555;
  font-size: 26px;
  font-weight: 900;
  text-decoration: none;
  line-height: 60px;
  padding: 13px 37px;
  transition: all 0.2s ease-out;
}

.rsvp-button:hover {
  width: 185px;
  box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}


#rsvp-link {
  font-size: 30px;
  padding: 16px 40px;
}

@media (max-width: 2000px) {
  .date-wrapper {
    flex-basis: 50%; /* 2 items per row */
  }
}

.date-wrapper:hover {
  box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.getting-married-text {
  font-size: 16px;
  color: #555;
}

.paw {
  width: 48px;
  opacity: 0.8;
  position: absolute;
  right: 0;
}


.modal-hidden {
  display: none;
}


#modal-backdrop {
  position: fixed;
  background-color: #000000aa;
  width: 100%;
  height: 100%;
  z-index: 100;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

#modal {
  background: #fff;
  padding: 20px;
  margin: 26px 0;
  border-radius: 12px;
  max-width: 700px;
  color: #333;
  z-index: 101;
  max-height: 89vh;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#announcement{
  margin: 20px 0 0 0;
}

.results-split-line{
  margin: 0;
}

#close-modal {
  font-size: 47px;
  color: #555;
  float: right;
}

.modal-image {
  max-width: 284px;
  max-height: 284px;
  width: 90vw;
  height: 90vw;
  object-fit: cover;
  border-radius: 16px;
}

#close-modal:hover {
  opacity: 0.8;
}

.name-result {
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.name-result:hover {
  color: #954dcf;
}


.proposal-story {
  background-color: #faf4ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#schloss-video{
  width: 520px;
  height: 780px;
  object-fit: cover;
}

@media(max-width: 920px){
  #schloss-video{
    display: none;
  }
}

.text-wrapper {
  max-width: 600px;
  color: #0e0954;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 40px;
  text-align: center;
}


.story-body {
  display: flex;
  background-color: #23282f;
  color: #eee;
}

.flex-half-part {
  flex: 1;
}

.body-image {
  width: 100%;
  overflow: hidden;
}

.story-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#body-wrapper {
  overflow-y: hidden;
  width: 100%;
}


/* Reset default input styles */
input {
  border: none;
  outline: none;
  background-color: transparent;
  height: 30px;
  width: 196px;
}

/* Custom styles for the input container */
.input-container {
  display: inline-block;
  position: relative;
  padding: 5px;
  background-color: #f1f1f1;
  border-bottom: 4px solid #954dcf;
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: -4px;
  font-family: sans-serif;
}

/* Style the input placeholder text */
input::placeholder {
  color: #777;
}

/* Add a subtle border on focus */
input:focus + .input-container {
  box-shadow: 0 0 8px rgba(46, 204, 113, 0.5);
}

#search-name-button {
  padding: 8px 16px;
  background-color: #954dcf;
  color: #ffffff;
  border: none;
  height: 45px;
  font-family: sans-serif;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border-bottom: 4px solid #954dcf;
  transition: all 0.2s ease-out;
  opacity: 0.9;
  z-index: 200;
}

#search-name-button:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

#name-search-results {
  overflow-y: scroll;
  max-height: 290px;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #faf4ec;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel img {
  width: 100%;
  height: 550px;
  max-width: 700px;
  object-fit: cover;
  padding: 26px 14px;
}

@media (max-width: 500px) {
  .carousel img {
    height: 300px;
    padding: 0;

  }
}

.wedding-party-wrapper {
  background-color: #faf4ec;
  padding: 20px 26px;
  text-align: center;
}

.wedding-party-flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.wedding-party-bio{
  max-width: 334px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 18px 0;
  color: #333;
  background-color: #fff;
  border-radius: 27px;
  margin: 20px 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

.wedding-party-bachelorette{
  box-shadow: 0 1px 7px rgb(113 20 160 / 50%);
}

.wedding-party-bachelor{
  box-shadow: 0 1px 7px rgb(24 106 171 / 50%);
}

.wedding-party{
  height: 200px;
  width: 200px;
  align-self: center;
  border-radius: 40px;
  object-fit: cover;
  margin-left: 12px;
}

.invite-section-image{
  width: 128px;
  background-color: #fff;
  padding: 12px;
  border-radius: 26px;
  /* position: absolute; */
  /* left: 0; */
  margin: 2px 50px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
}
